<section class="main-container">
  <span class="head-title" id="angular">Angular Portals</span>
  <main class="container">
    <div class="card">
      <span class="card-title">Customer Portal</span>
      <button (click)="goToCustomer()" class="card-button">OPEN</button>
    </div>
    <div class="card">
      <span class="card-title">Vendor Portal</span>
      <button (click)="goToVendor()" class="card-button">OPEN</button>
    </div>
    <div class="card">
      <span class="card-title">Employee Portal</span>
      <button (click)="goToEmployee()" class="card-button">OPEN</button>
    </div>
  </main>
</section>