.sidenav-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.sidenav-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 1rem; 
}

.sidenav-bar-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background-color: var(--primary-color);
    border-radius: 0.75rem;
}

.sidenav-bar-icon-container > .icon {
    transition-property: color;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.sidenav-bar > .icon-label {
    color: white;
    font-size: large;
}

.logout-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: var(--secondary-color);
    > button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
}

.back-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.back-container > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
}

.back-container > button > span:nth-child(2) {
    color: var(--secondary-color);
    font-size: large;
}

.back-container > button > span:nth-child(1) {
    color: var(--secondary-color);
    font-size: large;
}