<div class="container">
<div class="delivery-container">
    <h1 class="delivery-title">List of Delivery : {{ data().length }} entries found</h1>
    <div class="card-container">
        <div class="card-list">
            @for (delivery of data(); track delivery.id) {
                <div class="delivery-card">
                    <div class="delivery-card-content">
                        <div class="show-block">
                            <div class="tile">
                                <span>Description</span>
                                <span>{{ delivery.data.Arktx }}</span>
                            </div>
                            <div class="tile">
                                <span>Quantity</span>
                                <span>{{ delivery.data.Lfimg }}</span>
                            </div>
                            <div class="tile">
                                <span>Price</span>
                                <span>{{ delivery.data.Netwr | currency : delivery.data.Waerk}} </span>
                            </div>
                            <div class="tile">
                                <span>Delivery Status</span>
                                <span>{{ delivery.data.Bestk }}</span>
                            </div>
                            <div class="tile">
                                <span>Quantity unit</span>
                                <span>{{ delivery.data.Vrkme }}</span>
                            </div>
                            <div class="tile">
                                <span>Delivery date</span>
                                <span>{{ delivery.data.Lfdat }}</span>
                            </div>
                        </div>
                        <div class="hide-block" [ngClass]="{'expanded' : delivery.expanded}">
                            <div class="tile">
                                <span>Document Number</span>
                                <span>{{ delivery.data.Vbeln }}</span>
                            </div>
                            <div class="tile">
                                <span>Item Number</span>
                                <span>{{ delivery.data.Posnr }}</span>
                            </div>
                            <div class="tile">
                                <span>Material Number</span>
                                <span>{{ delivery.data.Matnr }}</span>
                            </div>
                            <div class="tile">
                                <span>Purchase Order</span>
                                <span>{{ delivery.data.Vstel }}</span>
                            </div>
                            <div class="tile">
                                <span>Plant</span>
                                <span>{{ delivery.data.Werks }}</span>
                            </div>
                            <div class="tile">
                                <span>Storage Location</span>
                                <span>{{ delivery.data.Lgort }}</span>
                            </div>
                        </div>
                        <button (click)="onExpand(delivery)">{{ delivery.expanded ? "Collapse" : "Expand" }}</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="filter-container">
        <div class="filter-tile">
            <label for="description">Description</label>
            <span>
                <span class="material-icons icon">search</span>
                <input type="text" name="description" id="" [formControl]="description" placeholder="Enter description">
            </span>
        </div>
        <div class="filter-tile">
            <label for="itemtype">Plant</label>
            <span>
                <span class="material-icons icon">search</span>
                <input type="text" name="description" id="" [formControl]="plant" placeholder="Enter plant name">
            </span>
        </div>
        <div class="filter-tile">
            <label for="date">Sort by delivery date</label>
            <select [formControl]="deliveryDate" name="date">
                <option value="">--None--</option>
                <option value="ascending">Ascending</option>
                <option value="descending">Descending</option>
            </select>
        </div>
        <div class="filter-tile">
            <label for="date">Filter by delivery status</label>
            <select [formControl]="deliveryStatus" name="date">
                <option value="">--None--</option>
                <option value="progress">In Progress</option>
                <option value="complete">Completed</option>
                <option value="not">Not Started</option>
            </select>
        </div>
    </div>
</div>