<div class="customer-profile-container">
  <h1>Hi, Sathish Varnan👋🏻</h1>
  <div class="card-container">
    <div class="profile-card">
      <img src="person.jpg" alt="user">
      <span class="detail-card">
        <span>Sathish</span>
        <span>Chennai, IN</span>
      </span>
    </div>
  </div>
  <div class="card-container">
    <div class="card-title">
      <span>Personal Information</span>
    </div>
      <div class="info-card">
        <div class="info-tile">
          <span class="font-light">Name</span>
          <span>Sathish</span>
        </div>
        <div class="info-tile">
          <span class="font-light">Customer ID</span>
          <span>{{"1".toString().padStart(10, '0')}}</span>
        </div>
        <div class="info-tile">
          <span class="font-light">City</span>
          <span>Chennai</span>
        </div>
        <div class="info-tile">
          <span class="font-light">Postal code</span>
          <span>600 063</span>
        </div>
        <div class="info-tile">
          <span class="font-light">Landmark</span>
          <span>Mudichur</span>
        </div>
        <div class="info-tile">
          <span class="font-light">Country Key</span>
          <span>IN</span>
        </div>
      </div>
  </div>
</div>
