.customer-profile-container {
    width: 100%;
    height: 100%;
}

.customer-profile-container > h1 {
    font-size: x-large;
    color: white;
}

.card-container {
    margin-top: 1rem;
    background: #060e2e;
    border-radius: 1rem;
    padding: 1rem;
}

.card-title {
    color: white;
}

.profile-card {
    display: flex;
    gap: 2rem;
}

.profile-card > img {
    width: 80px;
    border-radius: calc(infinity * 1rem);
}

.profile-card > .detail-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.detail-card > span:nth-child(2) {
    font-weight: 100;
    font-size: 0.9rem;
}

.info-card {
    /* margin-top: 1rem; */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.info-tile {
    display: flex;
    flex-direction: column;
    color: white;
    > span:nth-child(1) {
        font-size: small;
        font-weight: lighter;
        color: var(--secondary-color);
    }
}