.customer-container {
    width: 100%;
    min-height: 100%;
    display: flex;
}

.customer-sidenav {
    width: 20%;
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--primary-color), #011740);
}

.customer-content {
    width: 80%;
    min-height: 100vh;
    height: 100%;
    background: radial-gradient(var(--secondary-color), var(--primary-color));
    padding: 2rem;
}